
*{
	margin:0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

body {
	background-color: #f3f8ff;
}

.container-fixo {

	position: fixed;
	left:0;
	top:0;
	width: 100%;
	height: 100%;
}

.nav {
	width: 100%;
	min-height: 50px;
	/*box-shadow: 1px 1px #f3f8ff;*/
}

.nav.nav-default{
	background-color: #353F4B;
	/*border:1px solid rgba(0,0,0,0.1);*/
	
}
.nav.fixo-top {
	position: fixed;
	top:0;
	left: 0;
	z-index: 99999999;
}

.barra {
	padding:2px;
}

.barra.fixa {
	position: fixed;
	top:0;
	height: 100%;
	width: 200px;
}

.barra.fixa.left {	
	left: 0;
}

.barra.fixa.right {
	right: 0;
}

.barra.barra-default {
	background-color: #4BADD0;
	width: 200px;
	left:-200px;		
	-webkit-transition: all .4s linear;
	-o-transition: all .4s linear;
	transition: all .4s linear;
}

.expandido .barra.barra-default {
	width: 200px;
	left: 0;
	-webkit-transition: all .4s linear;
	-o-transition: all .4s linear;
	transition: all .4s linear;
}

.expandido .container-nav {
	/*padding-left: 250px;*/
	-webkit-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}

.container-nav {
	padding:5px 8px;
	color: #fff;
	-webkit-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}

.btn {
	min-height: 2em;
    min-width: 4em;
    padding-bottom: 1px;
}

.btn.btn-default {
    -webkit-appearance: none;
    -webkit-user-select: none;
    background-image: -webkit-linear-gradient(#ededed, #ededed 38%, #dedede);
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08), inset 0 1px 2px rgba(255, 255, 255, 0.75);
    color: #444;
    font: inherit;
    margin: 0 1px 0 0;
    outline: none;
    text-shadow: 0 1px 0 rgb(240, 240, 240);

}

.icone {
	padding:10px 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	background-position: top;
	background-size: 100%;
	background-repeat: no-repeat;
	height: 30px;
	width: 30px;
}

.icone.menu {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAsElEQVRYR+2W0QmAMAxE2w0cQTfSUZzEUXQj3cAVTKAFETVcEM6PCMWfkLy0l2tzIn+ZXD95AXoBn2S1pYFN/qOsBW3IA6DF54dCAwrhAVhPnV85dCc6ZBdQgEaS70YBKCcULIXpANo89QgUgC7CCkEbQ0TkZiwqQjMhGuAFCCesd0A44Z3mIF1BwaVaOGE4IWp2r/EeEdKPgH4dU8eQ/iSjA8SbsM409UHyCyP6DOIAye0wIRn+y58AAAAASUVORK5CYII=);
}

.cor-padrao {
	color: #fff;
}

.painel {
	text-align: center;
}

.painel.painel-right {
	float: left;
}

.painel.painel-right:before, 
.painel.painel-right:after {
	content:  " ";
	display: table;
	clear: both;
}

.menu,
.menu li {
	list-style: none;
	padding-left: 0;
	width: 100%;
} 

.menu a {
	text-decoration: none;	
}

.menu.menu-app a{
	padding:10px 8px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	width: 100%;
	color:#fff;
	text-align: center;
}

.menu.menu-app a .zmdi {
	float: left;
	margin-left: 5px;
}

.active a {
	background-color: #43A1C3;
}
.active a:before {
	content: " ";
  	display: inline-block;
  	vertical-align: middle;
  	float: right;
  	margin-right: -10px;
  	width: 0; 
  	height: 0; 
	border-color: #fff;
  	border-top: 10px solid transparent;
  	border-bottom: 10px solid transparent; 
  	border-right: 10px solid #f3f8ff; 

}

.menu.menu-app a:hover {
	background-color: #43A1C3;
}

.barra-menu {
	padding-top:70px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.conteudo {
	padding: 60px 10px 10px 10px;
	-webkit-transition: all .4s linear;
	-o-transition: all .4s linear;
	transition: all .4s linear;
}

.expandido .conteudo {
	padding-left: 250px;
	-webkit-transition: all .4s linear;
	-o-transition: all .4s linear;
	transition: all .4s linear;
}

.e-mail {
	overflow: auto;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.tex-left  {
	text-align: left;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.row {
	/*padding-left: 15px;*/
	/*padding-right: 15px;*/
	position: relative;
	background-color: #f3f8ff;
	overflow: hidden;
}


.row.row-hover {
	border: 2px solid #4BADD0; 		
}

.row-handle {
	display: none;
}

.row.row-hover > .row-handle {
	display: block;
}

.row:before {
	content:  "estrutura";
	display: none;
	background-color: #4BADD0;
	position: absolute;
	top: 0;
	left: 0;
	padding: 5px 6px;
	font-size: 10px;
	color: #fff;
}
.row.row-hover:before {
	display: block;
}

.row .row-container {
	display: inline-block;	
}

.row .row-handle{	
	display: none;
	position: absolute;
	right: 0;
	top:45%;
	background-color: #4BADD0;
	padding: 5px 8px;	
	color: #fff;
	cursor: move;
}

.row-del,
.row-dupl {
	position: absolute;	
	bottom: 0px;
	background-color: #4BADD0;
	padding: 5px 8px;
	color: #fff;
	display: none;
	cursor: pointer;
}

.row:hover .row-del,
.row:hover .row-dupl {
	display: block;
}

.row-del {
	right: -1px;
}

.row-dupl {
	right: 25px;
}

.row .mail-move {
	background-color: red;
}


.row .img:hover {

	border: 2px solid #4BADD0;
}

.img {
	position: relative;
}

.img:hover .row-handle {
	display: block;
}


.ui-selecting { background: #FECA40; }
.ui-selected { background: #F39814; color: white; }


.tabs>ul {
	width: 100%;
	border-bottom: 1px solid #4BADD0;
}

.tabs.tabs-right>ul {
	text-align: right;
}

.tabs>ul li {
	list-style: none;
	display: inline-block;
	padding: 10px 15px;
}
.tabs>ul li.ativa {
	background-color: #3C97B6;
}

.tabs>ul li a {
	text-decoration: none;
	color: #000;
}

.tabs .tabs-conteudo>div {
	display: inline-block;
	padding: 5px;
}

.tab-content {
	display: none;
	width: 100%;
}


.painel {
	margin-bottom: 5px;
}

.painel.painel-padrao {
	border: 1px solid #f3f8ff;
	box-shadow: 1px 1px #f3f8ff;
}

.painel .painel-titulo {
	text-align: left;
}


.painel .lista {
	text-align: left;
}

.lista {
	width: 100%;
	min-height: 1px;
	margin-bottom: 10px;
}

.lista li {
	list-style: none;
	padding: 8px 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
}

.lista ul {
	padding-left: 0;
}

.lista li a {
	text-decoration: none;
	margin-right: 10px;
}

.lista li i.zmdi {
	float: right;
}


.lista-eventos {
	width: 33.333%
}

.select {
	display: inline-block;
	border:1px solid #E9E3E3;
	padding: 5px 8px;
	background-color: #F0E7E8;
	border-radius: 2px;
	max-height: 20px;
	position: relative;
}

.select>a{
	padding-right: 10px;
	padding-left: 5px;
	text-decoration: none;
	color:#A4A4AC;
}

.select>a i {
	float: right;
}

.select.select-aberta .select-lista{
	display: block;
}

.select .select-lista {
	display: none;
	background-color: #F0E7E8;	
	position: absolute;
	top: 31px;
	left: 0;
}

.select .select-lista li {
	list-style: none;
	padding: 5px 10px;
	white-space: nowrap;
}

.select .select-lista li:hover {
	background-color: #fff;
}

.select .select-lista li a {
	text-decoration: none;
	color: #000;
}


.slide {
	display: inline-block;
	padding: 2px;
	height: 25px;
	background-color: #3791B4;
	width: 60px;
	border-radius: 4px;
	position: relative;
}

.slide a {
	display: block;
	width: 25px;
	height: 25px;
	background-color: #fff;
	border-radius: 4px;
	position: absolute;
	top:2px;		
	left:2px;
	-webkit-transition: left .2s linear;
	-o-transition: left .2s linear;
	transition: left .2s linear;
}

.slide.off a {
	-webkit-transition: left .2s linear;
	-o-transition: left .2s linear;
	transition: left .2s linear;
	left: 36px;
}


.slide-pin {
	width: 200px;
	height: 5px;
	background-color: #3791B4;
	margin-top: 10px;
	margin-bottom: 10px;
	position: relative;
}

.slide-pin .slide-button {
	width: 20px;
	height: 20px;
	background-color: #3791B4;
	border-radius: 20px; 
	position: absolute;
	top:-9px;
	left: 10px;
	box-shadow: 1px 1px rgba(255,255,255,.3);
	border:1px solid #3791B4;
}

.slide-pin .slide-button:hover {
	background-color: #fff;
	box-shadow: 1px 1px #3791B4;
}
